.card {
  background-color: #262121;
  height: 540px;
  width: 100%;
  padding: 15px;
  position: relative;
  justify-self: center;
  border-radius: 10px;
  color: white;
  box-shadow: 0px 2px 11px -1px grey;
}
  .cart-items {
    background: #8080800a;
    padding: 16px 17px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px grey;
}
.cart-items h1{
  font-size: 25px;
}
  .store-heading{
    font-family: "Metamorphous", cursive;
    font-weight: 800;
    font-size: 60px;
  }
  .image-container {
    width: 100%;
    height: 320px;
    background-color: #fff;
    padding: 25px;

  }
  
  .image-container img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  
  .add-to-cart {
    width: calc(100% - 30px);
    height: 50px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    display: flex;
    align-items: center;
  }
  
  
  .add-to-cart button {
    background-color: #fff;
    border: none;
    height: 50px;
    clip-path: polygon(7% 0, 100% 0, 90% 100%, 0% 100%);    cursor: pointer;
    padding: 0 40px;
    font-weight: 700;
    transition: .3s;
  }
  .add-to-cart button:hover{
      background-color: orange;
  }
  
  .product-info {
    margin: 20px 0;
    height: calc(100% - 410px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
  }
.pd-info{
  text-align: left;
  margin-top: 20px;
}
  
  .icon {
    font-size: 20px;
  }
  .select-btn{
    border: 0;
    padding: 4px 12px;
    font-size: 18px;
    font-weight: 600;
    background: transparent;
    border: 2px solid orange;
    /* clip-path: polygon(0 0, 91% 0, 100% 100%, 10% 100%); */
    clip-path: polygon(0 0, 94% 0, 100% 100%, 6% 100%);
    transition: .3s;
    display: none;
    width: 180px;
    margin: 0 auto;
  }
  .select-btn:hover{
    background-color: black;
    color: white;
  }